
/* ------------------------------------------------------------- CSS RESET / SETUP ---------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #FFFFFF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	margin: auto;
	/* min-width: 1000px; */
}

h1, h2, h3, h4, h5, h6, li, a, p, input::placeholder, textarea::placeholder{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	text-decoration: none;
}

button {
	outline:none;
	border: 0;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


* {
	box-sizing: border-box;
	outline: none;
}

.grifado {
	background: #E7B200;
	padding: 0.3%;
}

.on {
	visibility: visible;
}

.off {
	visibility: hidden;
}

a {
	display:block;
}

/* ------------------------------------------------------------- REMKT --------------------------------------------------------------- */

.remkt {
	width: 100vw;
	height: 100vh;
	background: #333333;
	opacity: 0.9;
	position: fixed;
	z-index: 10;
}

/* ------------------------------------------------------------- CHAT --------------------------------------------------------------- */
.chat {
	position: fixed;
	width: 30%;
	min-width: 300px;
	max-width: 380px;
}

.chat-container {
	border-radius: 18px;
	background: #808080;
	width: 95%;
	margin: auto;
}

.lines {
	width: 95%;
	margin: auto;
}

.first-line {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 90%;
	padding: 5% 2%;
}

.first-line #contato {
	display: flex;
	align-items: center;
	width: 90%;
	color: white;
}

.first-line button {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
}

.text-balloon img{
	width: 85%;
	margin:5% 0;
}

.chat {
	position: fixed;
	right: 2%;
	bottom: 12%;
}

.icons {
	position: fixed;
	right: 2%;
	bottom: 2%;
}

.icons button {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
}

.icons button img {
	width: 100%;
}

textarea {
	min-width: 100%;
	display: block;
	resize: unset;
	border-radius: 0 0 18px 18px;
	padding: 5%;
	
}

.text-area {
	border-radius: 18px;
	position: relative;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	
}

.text-area button {
	border: 0;
	background-color: transparent;
	position: absolute;
	right: 2%;
	bottom: 2%;
}

/* ------ Second Step -------- */

.inputs form {
	margin: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputs form input {
	width: 100%;
	height:2.4vw;
	min-height: 30px;
	padding: 1% 4%;
	border-radius: 18px;
	margin: 5% 0;
}

.inputs form button {
	position: relative;
	padding: 5%;
	left: 44%;
	top: 50%;
}

#redes-sociais-chat {
	display: flex;
	position: absolute;
	bottom: 21px;
	left:40px;
}

#redes-sociais-chat img {
	margin: 5px 5px;
	width: 70%;
}


/* ------------------------------------------------------------- NAVBAR --------------------------------------------------------------- */

.hero {
	background-image: url("images/frame_web.png");
	background-repeat: no-repeat;
	background-size: contain;
	/* min-width: 1000px; */
}

.navbar {
	padding: 2% 0 2% 0;
	display: flex;
	max-width: 1340px;
	margin: auto;
}

.logo {
	width:45%;
	text-align: center;
}

.logo img {
	max-width: 173px;
}

.options {
	width: 55%;
	align-self: flex-start;
	justify-self: end;
}

.links {
	margin: auto;
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}

.header-hamburger-menu {
	display: none;
}

hr {
	display:none;
}


.links li a{
	font-weight: 500;
	font-size: 0.9rem;
	line-height: 20px;
	color: #263238;
}


.links li a:hover {
	text-decoration: underline;
	font-weight: 700;
	cursor: pointer;
}

.hamburger-menu {
	display: none;
}

/* ------------------------------------------------------------- CTA --------------------------------------------------------------- */
.cta .cta-text {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.cta {
	display: flex;
	margin: auto;
	height:100%;
	/* min-width: 1000px; */
	max-width: 1340px;
}

.cta .image {
	width: 55%;
	text-align: center;
	position: relative;
	bottom: 3.2vw;
}

.cta .cta-text p, .cta .cta-text h1  {
	width: 80%;
	text-align: center;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.7rem;
	letter-spacing: 0.05rem;
	margin: 0.1% 0;
}

.cta .cta-text h1 b {
	color: #fab301;
	background-color: #333333;
	padding: 1% 1.1%;
	border-radius: 0.9px;
	font-size: 1.5rem;
}

.cta .cta-text span {
	font-weight: 500;
}

.cta .cta-text button {
	width: 50%;
	background: #333333;
	border: 0px;
	border-radius: 100px;
	padding: 2%;
	margin: 3% 0;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.cta .cta-text button:hover {
	background: #4D4D4D;
}

.cta .cta-text button a {
	width: 100%;
	color: #FFFFFF;
	font-size: 1.1rem;
}

.cta .cta-text h1 br {
	display: none;
}

.highlight {
	color: #fab301;
	background-color: #333333;
	padding: .7% 1%;
	border-radius: 0.9px;
	line-height: 3rem;
	font-size: 1.3rem;
}

/* ------------------------------------------------------------- CHAMARIZ --------------------------------------------------------------- */
.chamariz {
	display: flex;
	padding-bottom: 6%;
	/* min-width: 1000px; */
	max-width: 1340px;
	margin: 3% auto 0;
}

.chamariz .image {
	width: 40%;
	margin-left: 17%;
}

.chamariz .cta-text {
	font-weight: 500;
	width: 60%;
}

.chamariz .cta-text p, .chamariz .cta-text h2 {
	margin: 1.5% 0;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.7rem;
	letter-spacing: 0.05rem;
	width: 90%;
}

.chamariz .cta-text p a {
	color: #9C7700;
	display: inline;
}

.chamariz .cta-text p a:hover {
	text-decoration: underline;
}

.chamariz .cta-text button {
	width: 50%;
	background: #fab301;
	border: 0px;
	border-radius: 100px;
	padding: 2%;
	margin: 2% 0;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.chamariz .cta-text button:hover {
	background: #D3A407;
}

.chamariz .cta-text button a {
	color: #333333;
	font-weight: 700;
	font-size: 1rem;
	width: 100%;
}

/* ------------------------------------------------------------- PALESTRANTES ------------------------------------------------------- */

.palestrantes {
	background-color: #333333;
	padding: 6% 0;
	color: #FFFFFF;
	text-align: center;
	/* min-width: 1000px; */
}

.palestrantes button {
	width: 20%;
	background: #fab301;
	border: 0px;
	border-radius: 100px;
	padding: 1%;
	margin: 5% 0 0 0;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
	
.palestrantes button:hover {
	background: #D3A407;
}
	
.palestrantes button a {
	color: #333333;
	font-weight: 700;
	font-size: 1.2rem;
	width: 100%;
}

.palestrantes h2 {
	color: #fab301;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2rem;
	letter-spacing: 0.4rem;
	text-align: center;
}

.palestrantes-container {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 2%;
	margin-top: 2%;
	max-width: 1340px;
}

.palestrantes-description {
	display: flex;
	width: 98%;
	margin: auto;
	justify-content: space-around;
	margin-top: 220px;
	max-width: 1340px;
}

.palestrantes-description div{
	width: 30%;
	text-align: center;
	/* min-width: 220px; */
}

.palestrantes-description div h3{
	width: 90%;
	margin: auto;
	font-weight: 700;
	font-size: 0.85rem;
	line-height: 1.4rem;
	letter-spacing: 0.07rem;
}

.palestrantes-description div p{
	width: 90%;
	margin: auto;
	text-align: center;
	font-weight: 400;
	font-size: 0.85rem;
	line-height: 1.4rem;
	letter-spacing: 0.07rem;
	margin-top: 5%;
}

img[src="images/seta-esquerda-on.png"]{
	display: none;
}

img[src="images/seta-direita-on.png"]{
	display: none;
}

.palestrante-wrapper {
	display: flex;
	max-width: 1340px;
	width: 98vw;
	justify-content: space-around;
}

.palestrante {
	width: 30vw;
}

.flip-card {
	perspective: 1000px;
	width: 220px;
	margin: auto;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-inner {
	transition: transform 0.8s;
	transform-style: preserve-3d;
	position: relative;
}


.flip-card-front, .flip-card-back {
	color: #333333;
	width: 100%;
	min-width: 217px;
	min-height: 217px;
	border-radius: 50%;
	position: absolute;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	background: #fab301;
}

.flip-card-back {
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flip-card-back p {
	width: 60%;
	text-align: center;
	margin-bottom: 7%;
}

/* ------------------------------------------------------------- VENDEDOR DO FUTURO ------------------------------------------------- */

.vendedor-do-futuro {
	display: flex;
	width: 90%;
	margin: 0 auto;
	padding: 6% 0 6% 0;
	justify-content: space-between;
	align-items: center;
	color: #263238;
	/* min-width: 1000px; */
	max-width: 1340px;
}

.vendedor-do-futuro .text {
	width:56%;
}

.vendedor-do-futuro .text h2 b {
	color: #fab301;
	background-color: #333333;
	padding: .7% .7%;
	border-radius: 0.9px;
	line-height: 3rem;
	font-size: 1.3rem;
}

.vendedor-do-futuro .text h4 {
	margin-top: 7%;
	letter-spacing: 0.05rem;
}

.vendedor-do-futuro .text h6 {
	margin-top: 1%;
	width: 100%;
	font-weight: 500;
	letter-spacing: 0.05rem;
}

.vendedor-do-futuro .text p {
	font-size: 1.1rem;
	letter-spacing: 0.02rem;
	line-height: 1.6rem;
	margin-top: 1.5%;
}

.vendedor-do-futuro .side-text {
	width: 40%;
	display: flex;
	flex-direction: column;
	max-width: 412px;
}

.side-text .image {
	width: 100%;
	text-align: center;
}
.side-text .image img{
	max-width: 280px;
	
}

.side-text .countDown {
	border-radius: 3px;
	background: #fab301;
	padding: 5%;
	margin-bottom: 10%;
}

.side-text .countDown h2 {
	font-size: 1.8rem;
	font-weight: 700;
	padding-bottom: 5%;
	text-align: center;
	width: 95%;
}

.side-text .countDown p {
	width: 98%;
	text-align: center;
	line-height: 1.9rem;
	font-size: 1rem;
	padding-bottom: 5%;
}

.side-text .countDown p b {
	color: #fab301;
	background-color: #333333;
	padding: 1% 3%;
	border-radius: 0.9px;
	font-size: 3rem;
	line-height: 4.5rem;
}

.side-text .countDown p b span {
	font-size: 1.4rem;
}

.side-text .countDown h6 {
	width: 60%;
	margin: auto;
	text-align: center;
	font-size: 1.2rem;
}

.side-text .countDown .counter {
	display: flex;
	width: 80%;
	margin: 8% auto 4%;
	justify-content: space-between;
}

.side-text .countDown .counter div {
	width: 68px;
	height: 73px;
	background-color: #FFFFFF;
	border-radius: 4px;
}

.side-text .countDown .counter div p {
	text-align: center;
	width: 100%;
	font-size: 0.9rem;
	line-height: 0.9rem;
}

#dias, #horas, #minutos, #segundos {
	font-size: 2.5rem;
	text-align: center;
}

.side-text .countDown div {
	width: 100%;
	text-align: center;
}

.side-text .countDown div button {
	width: 70%;
	background: #333333;
	border: 0px;
	border-radius: 100px;
	padding: 2%;
	margin: 6% 0 4% 0;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.side-text .countDown button:hover {
	background: #4D4D4D;
}

.side-text .countDown button a {
	color: #FFFFFF;
	font-size: 1.1rem;
	padding: 3% 7%;
}

/* ------------------------------------------------------------- FOOTER ------------------------------------------------------- */
.quem-somos {
	display:flex;
	justify-content: space-around;
	height:47vh;
	background-image: url(images/bottom-web.png);
	background-size: cover;
}

.redes-sociais{
	width:100%;
	align-self: flex-end;
	padding-bottom: 4%;
	padding-right: 18%;
	align-content: center;
	max-width: 600px;
}

.redes-sociais h4 {
	font-weight: 400;
	margin-bottom: 3%;
	text-align: center;
}


.redes-sociais a {
	display: inline;
}

#redes-sociais {
	text-align: center;
	
}

.sobre-nos {
	width: 38%;
	margin-top: 4%;
	text-align: right;
	align-self: center;
	color: #FFFFFF;
	max-width: 600px;
}

.sobre-nos p {
	margin-top: 4%;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.2rem;
	letter-spacing: 0.05rem;
}


/* ------------------------------------------------------CHAT-------------------------------------------------------------------- */
input, textarea {
	border: 0;
}


.chat-icon {
	position: fixed;
	bottom: 2%;
	right: 2%;
}

.chat-content {
	width: 30%;
	color: #263238;
}

.chat-content-pos {
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.chat-content img{
	max-width: 180px;
	margin: 5%;
}

.chat-content .textos {
	text-align: center;
	padding: 7% 0;
}

.chat-content .textos h1 {
	font-size: 1.4rem;
	font-weight: 700;
	padding: 4% 0;
}

.chat-content .textos p {
	padding: 4% 0;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
	line-height: 1.4rem;
}

.chat-content .formulario {
	width: 100%;
	text-align: center;
}

.chat-content .formulario hr {
	color: black;
	width: 98%;
	display: block;
}

.chat-content .formulario input, .chat-content .formulario textarea {
	width: 100%;
	max-width: 100%;
}







/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------RESPONSIVIDADE-------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:500px){
	body {
		width: 100vw;
	}

/* ------------------------------------------------------------- NAVBAR --------------------------------------------------------------- */

	.hero {
		background-image: url("images/frame_mobile.png");
		background-repeat: no-repeat;
		background-size: contain;
	}

	.navbar {
		padding: 4% 0 2.5% 0;
		display: flex;
		align-items: center;
		max-width: 1340px;
		margin: auto;
	}

	.logo {
		width:45%;
		text-align: center;
	}

	.logo img {
		max-width: 103px;
	}

	.hamburger-menu {
		display: block;
		width: 60%;
		text-align: center;
	}

	hr {
		width: 100%;
		border-radius: 5px;
		border: 0.5px solid #CCCCCC;
		margin: 0;
	}

	.options {
		display: none;
	}

	.options-on {
		background: #333333;
		position: absolute;
		width: 50%;
		right: 5%;
		top: 10%;
		height: 26vh;
		width: 55vw;
		border-radius: 7px;
	}

	.links-on {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}

	.header-hamburger-menu-on {
		display: inline;
		color: white;
		display: flex;
	}

	.header-hamburger-menu-on img {
		display: inline-block;
		padding-left: 40%;
		width: 50%;
	}

	.links-on li {
		width: 100%;
		padding: 1% 0 1% 10%;
	}

	.links-on li a{
		color:#fab301;	
	}



	/* ------------------------------------------------------------- CTA --------------------------------------------------------------- */
	.cta .cta-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	.cta {
		display: flex;
		flex-direction: column;
		width: 95%;
		align-items: center;
		margin: auto;
		height:100%;
		/* min-width: 1000px; */
		max-width: 1340px;
	}

	.cta .image {
		width: 100%;
		text-align: center;
		position: relative;
		bottom: 3.2vw;
	}

	.cta .image img {
		width: 100%;
	}

	.cta .cta-text h1  {
		width: 92%;
		text-align: center;
		font-weight: 400;
		font-size: 0.9rem;
		line-height: 1.4rem;
		letter-spacing: 0.02rem;
	}

	.cta .cta-text p  {
		width: 92%;
		text-align: center;
		font-weight: 400;
		font-size: 0.8rem;
		line-height: 1.2rem;
		letter-spacing: 0.02rem;
		padding-top: 3%;
	}

	.cta .cta-text h1 br {
		display: inline;
	}

	.cta .cta-text br {
		display: none;
	}

	.cta .cta-text h1 b {
		color: #fab301;
		background-color: #333333;
		padding: 1% 1.1%;
		border-radius: 0.9px;
		font-size: 1.1rem;
	}

	.cta .cta-text span {
		font-weight: 700;
	}

	.cta .cta-text button {
		width: 70%;
		background: #333333;
		border: 0px;
		border-radius: 100px;
		padding: 3%;
		margin: 6% 0;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	}

	.cta .cta-text button:hover {
		background: #4D4D4D;
	}

	.cta .cta-text button a {
		color: #FFFFFF;
		font-size: 1rem;
	}

	/* ------------------------------------------------------------- CHAMARIZ --------------------------------------------------------------- */
	.chamariz {
		display: flex;
		flex-direction: column-reverse;
		padding-bottom: 6%;
		align-items: center;
		/* min-width: 1000px; */
		max-width: 1340px;
	}

	.chamariz .image {
		width: 80%;
		margin: 5% auto;
	}

	.chamariz .cta-text {
		font-weight: 500;
		width: 100%;
		text-align: center;
	}

	.chamariz .cta-text p {
		font-weight: 400;
		font-size: 0.9rem;
		line-height: 1.7rem;
		letter-spacing: 0.05rem;
		width: 80%;
		margin: 0 auto 5%;
	}

	.chamariz .cta-text h2 {
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 2rem;
		letter-spacing: 0.05rem;
		width: 80%;
		margin: 3% auto;
	}

	.chamariz .cta-text p a {
		color: #9C7700;
	}

	.chamariz .cta-text p a:hover {
		text-decoration: underline;
	}

	.chamariz .cta-text button {
		width: 50%;
		background: #fab301;
		border: 0px;
		border-radius: 100px;
		padding: 2%;
		margin: 2% 0;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	}

	.chamariz .cta-text button:hover {
		background: #D3A407;
	}

	.chamariz .cta-text button a {
		color: #333333;
		font-weight: 700;
		font-size: .9rem;
	}

	.highlight {
		color: #fab301;
		background-color: #333333;
		border-radius: 0.9px;
		font-size: 1.8rem;
	}

	/* ------------------------------------------------------------- PALESTRANTES ------------------------------------------------------- */
	.palestrantes {
		background-color: #333333;
		padding: 6% 0;
		color: #FFFFFF;
		text-align: center;
		width: 100vw;
		/* min-width: 1000px; */
	}

	.palestrantes-full {
		overflow-x: auto;
		display: flex;
		flex-direction: column;
		margin-top: 8%;
	}

	.palestrantes button {
		width: 70%;
		background: #fab301;
		border: 0px;
		border-radius: 100px;
		padding: 4%;
		margin: 10% 0 5% 0;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	}
		
	.palestrantes button:hover {
		background: #D3A407;
	}
		
	.palestrantes button a {
		color: #333333;
		font-weight: 700;
		font-size: 1rem;
	}
	
	.palestrantes h2 {
		color: #fab301;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 2rem;
		letter-spacing: 0.4rem;
		text-align: center;
	}
	
	.palestrantes-container {
		display: flex;
		align-items: center;
		padding: 0;
		margin-top: 2%;
		max-width: 1340px;
	}

	.palestrantes-description {
		margin-top: 6%;
		display: flex;
		justify-content: flex-start;
	}

	.palestrante-wrapper {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}

	img[src="images/seta-esquerda-on.png"]{
		display: block;
		position: absolute;
		left: 15px;
	}

	img[src="images/seta-direita-on.png"]{
		display: block;
		position: absolute;
		right: 15px;
	}
		
	.palestrantes-description div{
		margin: 0;
		width:85%;
		text-align: center;
		/* min-width: 220px; */
	}

	.palestrantes-description div h3 {
		margin:0 auto;
	}
	
	.palestrantes-description div p{
		font-weight: 400;
		font-size: 0.85rem;
		line-height: 1.4rem;
		letter-spacing: 0.07rem;
		margin-top: 5%;
		width: 85%;
	}
	
	.palestrante {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		min-width: 100vw;

	}
	
	.flip-card {
		perspective: 1000px;
		min-width: 100vw;
		display: flex;
		justify-content: center;
	}
	
	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}
	
	.flip-card-inner {
		transition: transform 0.8s;
		transform-style: preserve-3d;
		position: relative;
		width: 220px;
		height: 220px;
	}
	
	
	.flip-card-front, .flip-card-back {
		color: #333333;
		width: 100%;
		min-width: 220px;
		min-height: 220px;
		border-radius: 50%;
		position: absolute;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
		background: #fab301;
	}
	
	.flip-card-back {
		transform: rotateY(180deg);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.flip-card-back p {
		width: 60%;
		text-align: center;
		margin-bottom: 7%;
	}

	/* ------------------------------------------------------------- VENDEDOR DO FUTURO ------------------------------------------------- */

	.vendedor-do-futuro {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		color: #263238;
		/* min-width: 1000px; */
		max-width: 1340px;
	}

	.vendedor-do-futuro .text {
		width:85%;
		padding: 2%;
	}

	.vendedor-do-futuro .text h2 b {
		color: #fab301;
		background-color: #333333;
		padding: 2% 2%;
		border-radius: 0.9px;
		line-height: 3rem;
		font-size: 1.3rem;
	}

	.vendedor-do-futuro .text h2 {
		line-height: 1.6rem;
		font-size: 1rem;
	}

	.vendedor-do-futuro .text h4 {
		margin-top: 7%;
		letter-spacing: 0.05rem;
		font-size: 1.2rem;
	}

	.vendedor-do-futuro .text h6 {
		margin-top: 2%;
		width: 100%;
		font-weight: 500;
		letter-spacing: 0.05rem;
		font-size: 1rem;
	}

	.vendedor-do-futuro .text p {
		font-size: 1rem;
		letter-spacing: 0.02rem;
		line-height: 1.6rem;
		margin-top: 2%;
	}

	.vendedor-do-futuro .side-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		max-width: 412px;
	}

	.side-text .image {
		width: 100%;
		text-align: center;
	}
	.side-text .image img{
		max-width: 280px;
		
	}

	.side-text .countDown {
		border-radius: 3px;
		background: #fab301;
		padding: 5%;
		margin-bottom: 10%;
	}

	.side-text .countDown h2 {
		font-size: 1.8rem;
		font-weight: 700;
		padding-bottom: 5%;
		text-align: center;
		width: 95%;
	}

	.side-text .countDown p {
		width: 98%;
		text-align: center;
		line-height: 1.9rem;
		font-size: 1rem;
		padding-bottom: 5%;
	}

	.side-text .countDown p b {
		color: #fab301;
		background-color: #333333;
		padding: 1% 3%;
		border-radius: 0.9px;
		font-size: 3rem;
		line-height: 4.5rem;
	}

	.side-text .countDown p b span {
		font-size: 1.4rem;
	}

	.side-text .countDown h6 {
		width: 60%;
		margin: auto;
		text-align: center;
		font-size: 1.2rem;
	}

	.side-text .countDown .counter {
		display: flex;
		max-width: 285px;
		width: 85%;
		margin: 8% auto 4%;
		justify-content: space-between;
	}

	.side-text .countDown .counter div {
		width: 68px;
		height: 73px;
		background-color: #FFFFFF;
		border-radius: 4px;
	}

	.side-text .countDown .counter div p {
		text-align: center;
		width: 100%;
		font-size: 0.9rem;
		line-height: 0.9rem;
	}

	#dias, #horas, #minutos, #segundos {
		font-size: 2.5rem;
		text-align: center;
	}

	.side-text .countDown div {
		width: 100%;
		text-align: center;
	}

	.side-text .countDown div button {
		width: 70%;
		background: #333333;
		border: 0px;
		border-radius: 100px;
		padding: 2%;
		margin: 6% 0 4% 0;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	}

	.side-text .countDown button:hover {
		background: #4D4D4D;
	}

	.side-text .countDown button a {
		color: #FFFFFF;
		font-size: 1.1rem;
	}

	/* ------------------------------------------------------------- FOOTER ------------------------------------------------------- */
	.quem-somos {
		display:flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		height:473px;
		background-image: url(images/bottom-mobile.png);
		background-position: bottom;
		background-size: cover;
	}

	.redes-sociais{
		width:100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 10% 0 0 0;
	}

	.redes-sociais h4 {
		font-weight: 400;
		font-size: 0.9rem;
		margin: 8px auto;
	}

	#redes-sociais {
		text-align: center;
		width: 100%;
	}

	#redes-sociais a {
		padding: 0 2%;
		display:inline;
	}

	.sobre-nos {
		width: 85%;
		margin-top: 90px;
		text-align: right;
		align-self: center;
		color: #FFFFFF;
		max-width: 600px;
	}

	.sobre-nos h2 {
		font-size: 0.8rem;
	}

	.sobre-nos p {
		margin-top: 4%;
		font-size: 0.7rem;
		font-weight: 400;
		line-height: 1rem;
		letter-spacing: 0.03rem;
	}
}